<div class="d-flex flex-column bg-dark m-4 p-4">
    <h4 class="text-primary my-50">Current Session => {{email}}</h4>
    <h4 class="text-light">Good to see you here Master</h4>
    <h4 class="text-danger">Welcome Master {{Name}} </h4>
   <div class="text-light"> Loading the Client List.
</div>
</div>