<main class="my-5">
    <div class="container">

        <section class="text-center">
            <h4 class="mb-5"><strong>What We Do</strong></h4>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://whc.ca/wp-content/themes/whc/images/blog/blog_19631_large.jpg"
                                class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Small Business Success</h5>
                            <h5><strong> Design a home office to increase productivity </strong></h5>
                            <p class="card-text">
                                Working from home is no longer a luxury enjoyed by a small few but is now the gold
                                standard.
                                It can certainly allow a better work/life balance, yet...
                            </p>
                            <a href="/article" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://whc.ca/wp-content/themes/whc/images/blog/blog_19557_large.jpg"
                                class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Security</h5>
                            <h5><strong> AlmaLinux 8 is now Available </strong></h5>
                            <p class="card-text">
                                AlmaLinux 8 is now available with our Cloud and Dedicated servers.
                                Are you a Cloud or Dedicated server administrator? Read on to learn about how this...


                            </p>
                            <a href="/article" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://whc.ca/wp-content/themes/whc/images/blog/blog_19491_large.jpg"
                                class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Small Business Success</h5>
                            <h5>How to beat procrastination and get more done!</h5>
                            <p class="card-text">
                                We've all been there... Sitting in front of the screen, facing a daunting task.
                                And then... maybe just a quick email check or a quick scroll on Facebook?...
                                <a href="/article" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://whc.ca/wp-content/themes/whc/images/blog/blog_19344_large.jpg"
                                class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Small Business Success</h5>
                            <h5>How to start an online business in 4 steps</h5>
                            <p class="card-text">
                                TLDR; Starting a business requires a solid plan, a great business name,
                                a website that emotionally connects with your target market and a promotional
                                strategy...
                            </p>
                            <a href="/article" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://whc.ca/wp-content/themes/whc/images/blog/blog_19047_large.jpg"
                                class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Performance</h5>
                            <h5>Free tools for a healthy website</h5>
                            <p class="card-text">
                                Have you ever checked the health of your website? Site maintenance is often overlooked
                                or, worse,
                                neglected completely. If left unchecked, your users might...
                            </p>
                            <a href="/article" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">                                                    
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://whc.ca/wp-content/themes/whc/images/blog/blog_18421_large.jpg"
                                class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Domains</h5>
                            <h5>9 Domains to know about</h5>
                            <p class="card-text">
                                If you spent any time online recently, you’ve probably noticed an increasing number of
                                new domain
                                extensions. .IO?
                                .XYZ? .CO? What are they? What...
                            </p>
                            <a href="/article" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="m-0" />