<div class="d-flex flex-column bg-dark m-4 p-4">
    <h4 class="text-primary my-50">Current User =>{{email}} </h4>
    <h4 class="text-danger">Hello {{Name}} </h4>
   <div class="text-light"> You are now Logged In, Redirecting you to your Profile.
</div>
</div>