<div class="d-flex flex-column bg-dark m-4 p-4">
    <h1 class="text-primary my-50">Welcome User.</h1>
    <h4 class="text-danger">Hello {{UserName}}!</h4>
   <div class="text-light"> Action Successful, Redirecting you to your Profile.
</div>
</div>