<body>

    <div class="container">

        <section class="border-bottom pb-4 mb-5">
            <div class="row gx-5">
                <div class="col-md-6 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://whc.ca/wp-content/themes/whc/images/blog/blog_19557_large.jpg"
                            class="img-fluid">
                        <a href="#!">

                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">What is AlmaLinux 8?</span>
                    <h4><strong>AlmaLinux 8 is now available!</strong></h4>
                    <p class="text-muted">
                        AlmaLinux 8 is an enterprise-grade operating system (OS), like CentOS, that provides a powerful
                        platform for
                        your servers
                        to deliver websites and email. It was developed in response to the announcement that CentOS 8
                        support has
                        reached ‘end
                        of life’. This means essential security updates will soon no longer be available for this OS.
                    </p>
                    <button type="button" class="btn btn-primary">Read more</button>
                </div>
            </div>
        </section>


        <section>

            <div class="row gx-5">
                <div class="col-md-8 mb-6">

                    <div>
                        <img src="https://mms.businesswire.com/media/20210817005291/en/1178645/23/almalinux.jpg"
                            class="img-fluid">


                    </div>
                    <div class="row mb-">
                        <div class="col-6">
                            <a href="" class="text-info">
                                <i class="fas fa-plane"></i>
                                Features
                            </a>
                        </div>
                    </div>




                    <class="text-dark">
                        <h5>Why choose AlmaLinux 8?</h5>

                        <p>
                        </p>
                        <li><strong>Built for enterprise</strong>: It’s an enterprise-grade OS that is more than capable
                            of handling
                            substantial server workloads.</li>
                        <li><strong>support windows</strong> : Support for AlmaLinux 8 has been committed to until at
                            least 2029,
                            including thoroughly tested updates and security patches.</li>
                        <li><strong>Easy to switch over</strong> : AlmaLinux is a 1:1 binary replacement for Red Hat
                            Enterprise
                            Linux (RHEL). This makes switching from the same versions of CentOS to AlmaLinux a breeze,
                            requiring
                            minimum effort.</li>
                        <li><strong>cPanel Support</strong> : Having partnered with AlmaLinux from the beginning, you
                            can expect the
                            same high level of support from cPanel &amp; WHM as provided for CentOS.</li>
                        <p></p>



                        <div>
                            <img src="https://www.accuwebhosting.com/blog/wp-content/uploads/2022/09/cloudlinux-vs-almalinux.jpg"
                                class="img-fluid">


                        </div>
                        <div class="">

                            <a href="" class="text-danger">
                                Cloudlinux and AlmaLinux 8
                            </a>
                        </div>

                        <class="text-dark">
                            <h5>What’s the difference between Cloudlinux and AlmaLinux 8</h5>

                            <p>
                                CloudLinux is a commercial OS built specifically for website and email hosting.
                                It’s the OS that currently powers Ibi WHS’s Web Hosting, Reseller Hosting, and Managed
                                WordPress Hosting
                                services,
                                and it’s the recommended OS for Dedicated Servers.
                            </p>
                            <p>
                            </p>
                            <li><strong>Better security</strong>: Features such as CageFS (a virtual per-user filesystem
                                for attack
                                prevention), HardenedPHP (secures unsupported versions of PHP), and SecureLinks
                                (kernel-level defence)
                                combine to provide a high level of security.</li>
                            <li><strong>Improved performance</strong>: PHP pages are served quickly and reliably using
                                Mod_lsapi, also
                                centralized monitoring and diagnostics tools help you fix any performance bottlenecks.
                            </li>
                            <li><strong>Resource isolation</strong> : Prevents downtime in shared server environments by
                                isolating the
                                impact of high resource usage to the offending tenant only. Greatly boosting server
                                stability and
                                performance.</li>
                            <li><strong>Better features</strong> : Additional features such as MySQL governor (for SQL
                                monitoring),
                                LVE Manager (for control panel management), and much more!</li>
                            <p></p>
                        </class="text-dark">
                    </class="text-dark">
                </div>
            </div>
        </section>

        <link rel="stylesheet" type="text/css" href="com.css">
        <div class="container">
            <div class="be-comment-block">
                <h1 class="comments-title">Comments (3)</h1>
                <div class="be-comment">
                    <div class="be-img-comment">
                        <a href="blog-detail-2.html">
                            <img src="d.jpg" alt="" class="be-ava-comment">
                        </a>
                    </div>
                    <div class="be-comment-content">

                        <span class="be-comment-name">
                            <a href="blog-detail-2.html">Sayal Puncture</a>
                        </span>
                        <span class="be-comment-time">
                            <i class="fa fa-clock-o"></i>
                            October 1, 2022 at 3:14 am
                        </span>

                        <p class="be-comment-text">
                            Had a great time using your service. I really like the service you provide.Excited to host
                            my wesite!!!.
                        </p>
                    </div>
                </div>
                <div class="be-comment">
                    <div class="be-img-comment">
                        <a href="blog-detail-2.html">
                            <img src="b.jpg" alt="" class="be-ava-comment">
                        </a>
                    </div>
                    <div class="be-comment-content">
                        <span class="be-comment-name">
                            <a href="blog-detail-2.html">Balmond</a>
                        </span>
                        <span class="be-comment-time">
                            <i class="fa fa-clock-o"></i>
                            september 29, 2022 at 6:36 pm
                        </span>
                        <p class="be-comment-text">
                            I am fan of your web hosting. Have hosted websites from here since past 3 years. Great work,
                            Keep it up.
                        </p>
                    </div>
                </div>
                <div class="be-comment">
                    <div class="be-img-comment">
                        <a href="blog-detail-2.html">
                            <img src="c.jpg" alt="" class="be-ava-comment">
                        </a>
                    </div>
                    <div class="be-comment-content">
                        <span class="be-comment-name">
                            <a href="blog-detail-2.html">One Hander</a>
                        </span>
                        <span class="be-comment-time">
                            <i class="fa fa-clock-o"></i>
                            september 28, 2022 at 2:10 pm
                        </span>
                        <p class="be-comment-text">
                            Hey, i was wondering what kind of web hosting is good for small business? I am new to this
                            web hosting
                            thing, so please guide me.
                        </p>
                    </div>
                </div>
                <form class="form-block">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group fl_icon">

                                <input class="form-input" type="text" placeholder="Your name">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 fl_icon">
                            <div class="form-group fl_icon">

                                <input class="form-input" type="text" placeholder="Your email">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea class="form-input" required="" placeholder="Your text"></textarea>
                            </div>
                        </div>
                        <a class="btn btn-primary pull-right">submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>